glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
glove.6B.100d.txt filter=lfs diff=lfs merge=lfs -text
glove.6B.200d.txt filter=lfs diff=lfs merge=lfs -text
glove.6B.300d.txt filter=lfs diff=lfs merge=lfs -text
